.wrapper {
    background-color: var(--gray-500);
    width: 100%;
    min-height: 72px;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.unchecked {
    width: 24px;
    height: 24px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--blue);
    transition: .2s;
    color: transparent;
}
.unchecked:hover {
    border: 2px solid var(--blue-dark);
    background-color: rgba(30, 111, 159, 0.2)
}

.checked {
    width: 24px;
    height: 24px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-dark);
    transition: .2s;
    color: var(--gray-100);
}

.checked:hover {
    background-color: var(--purple)
}

.trash {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    color: var(--gray-300);
}

.trash:hover {
    color: var(--danger);
    background: var(--gray-400);
    
}

