.input {
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    width: 100%;
    height: 54px;
    border-radius: 8px;
    padding: 16px;
    color: var(--gray-100);
}

.input:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--purple-dark);
}
